{% extends 'layouts/base.html' %}

{% block title %} Devices {% endblock title %}

{% block content %}
<div class="pc-container">
    <div class="pc-content">
        <div class="row">

            {% for x in cards %}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2>Device: {{ x.device_id }}</h2>
                    </div>
                    <div class="card-body">

                        <div class="d-flex flex-row justify-content-between">
                            <div class="p-2 align-content-center">

                                <div class="d-flex flex-row">

                                    <div class="p-2 align-content-center">
                                        <label> Average request time</label>
                                    </div>
                                    <div class="p-2">
                                        <label>{{ x.average_request_time }} ms</label>
                                    </div>
                                </div>

                                <form action="{{ url_for('home_blueprint.update_sampling_rate') }}" method="POST">
                                    <div class="d-flex flex-row">

                                        <div class="p-2 align-content-center">
                                            <label> Sampling rate</label>
                                        </div>
                                        <div class="p-2">
                                            <input type="text" class="form-control" name="sampling_rate" placeholder={{
                                                x.sampling_rate }}>
                                        </div>
                                        <input type="hidden" name="device_id" value="{{ x.device_id }}">

                                        <div class="p-2">
                                            <button type="submit" class="btn btn-primary">Update</button>
                                        </div>
                                    </div>
                                </form>

                                <form action="{{ url_for('home_blueprint.update_city') }}" method="POST">
                                    <div class="d-flex flex-row">

                                        <div class="p-2 align-content-center">
                                            <label>Device city</label>
                                        </div>
                                        <div class="p-2">
                                            <input type="text" class="form-control" name="city" placeholder={{ x.city
                                                }}>
                                        </div>
                                        <input type="hidden" name="device_id" value="{{ x.device_id }}">

                                        <div class="p-2">
                                            <button type="submit" class="btn btn-primary">Update</button>
                                        </div>
                                    </div>
                                </form>

                                <div class="d-flex flex-row">

                                    <form action="{{ url_for('home_blueprint.trigger_alarm') }}" method="POST">
                                        <div class="p-2">
                                            <input type="hidden" name="device_id" value="{{ x.device_id }}">
                                            <button type="submit" class="btn btn-primary">Trigger alarm</button>
                                        </div>
                                    </form>

                                    <form action="{{ url_for('home_blueprint.stop_alarm') }}" method="POST">
                                        <div class="p-2">
                                            <input type="hidden" name="device_id" value="{{ x.device_id }}">
                                            <button type="submit" class="btn btn-primary"> Stop alarm</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <div class="p-2 align-content-center">

                                <img src="https://openweathermap.org/img/wn/{{x.icon}}@2x.png" class="rounded float-left" alt="" 
                                style="display: block; height: 150pt;">

                            </div>
                        </div>



                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}